# Python cache & bytecode
__pycache__/
/__pycache__
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# IDE / Editor
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Test / coverage
.coverage
htmlcov/

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/


